.loginContainer {
  background-color: #fff;
  padding: 25px;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 100px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  color: #000;
}

h1 > .l {
  font-size: 30px;
  color: var(--main-color) !important;
}

label {
  font-weight: 700;
  font-size: 16px;
}

.inp {
  font-weight: 500;
  width: 100%;
  padding: 2.5px 3.75px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 2px solid var(--main-color) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.inp,
.inp:focus {
  outline: none;
}

#loginBtn {
  background-color: var(--main-color) !important;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.925;
}

button:hover {
  opacity: 1;
}

.signup {
  width: 250px;
  padding: 0 7.5px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.signup a {
  font-weight: 800;
  color: var(--main-color) !important;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

/* new -------------------------------------------------------- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  background: #f6f6f6;
  width: min(800px, 100%);
  min-height: 100%;
  /* height: 800px; */
  border-radius: 20px;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.41);
}

/* Left Side */

.left-side {
  height: 100%;
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/view-plate-with-meat-corn_23-2148725022.jpg?ga=GA1.1.955100521.1725900357&semt=ais_hybrid);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  border-radius: 20px 0 0 20px;
}

/* Right Side */

.right-side {
  padding: 60px;
}

/* Button Group */

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}

.btn-group .btn:active {
  transform: scale(0.97);
}

.btn-group .btn:hover {
  background-color: #000;
  color: #eee;
}

.btn img {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 50%;
  padding: 2px;
}

/* OR */

.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

/* Inputs and Labels */

input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  outline: 0;
  border-radius: 5px;
  background-color: transparent;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
}

input:focus {
  border: 2px solid #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
}

/* Login Button */

.login-btn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 24px;
  margin: 12px 0 24px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn:hover {
  background-color: #000;
  color: #eee;
}

/* Links */

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: -1px;
  transition: all 0.4s ease;
}

a:hover {
  color: rgb(13, 133, 185);
}

@media (max-width: 576px) {
  .main {
    grid-template-columns: 0% 100%;
  }
}
