.totalProductsCount {
  font-size: medium !important;
  color: var(--main-color) !important;
}

.catCard {
  background-color: transparent !important;
  border-radius: 15px !important;
  margin-right: 30px !important ;
  overflow: hidden;
  border-bottom: 10px solid var(--main-color) !important;
  border-left: 2px solid  var(--main-color)  !important;
  border-right: 2px solid  var(--main-color)  !important;
}
