/* .cart-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    text-transform: uppercase;
    color: #666;
}

.cart-table td.product-info {
    display: flex;
    align-items: center;
}

.cart-table td.product-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-table td.cartProductPrice,
.cart-table td.cartProductTotal {
    color: #458c00;
    font-weight: bold;
}

.cart-table td.quantity input {
    width: 50px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.quantity-number {
    font-weight: bold;
    text-align: center !important;
}

.cart-table td.remove button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-buttons .update-cart,
.cart-buttons .continue-shopping {
    background-color: #222429;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.cart-buttons .continue-shopping {
    background-color: #458c00;
}

.cart-buttons .update-cart:hover,
.cart-buttons .continue-shopping:hover {
    opacity: 0.9;
}

.quantity input {
    border: none !important;
    text-align: center;
}

@media (max-width: 768px) {
    .cart-table td.product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .cart-buttons .update-cart,
    .cart-buttons .continue-shopping {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .cart-table td.product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .cart-buttons .update-cart,
    .cart-buttons .continue-shopping {
        width: 100%;
        text-align: center;
    }

    .product-info img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }

    .product-info span {
        font-size: 0.5rem;
    }


    .remove,
    .cartProductPrice,
    .quantity,
    .cartProductTotal,
    .product-info {
        padding: 5px !important;
    }

    .cartProductPrice,
    .cartProductTotal {
        font-size: 0.6rem;
    }

    .cart-table thead tr th {
        font-size: 0.5rem;
        padding: 0px !important;
        text-align: center !important;
    }
}




.cart-totals {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px !important;
}

.cart-totals-title h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.cart-total-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #333;
}

.total-label {
    font-weight: bold;
}

.total-amount {
    font-weight: bold;
}

.checkout-btn-container {
    text-align: center;
    margin-top: 20px;
}

.checkout-btn {
    background-color: #458c00;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .cart-totals {
        padding: 15px;
        width: 100%;
    }

    .checkout-btn {
        width: 100%;
        padding: 12px;
    }
} */

/* cart card css  */
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 20px;
  gap: 20px;
  margin: 10px;
}

.product-info {
  margin-top: 5px !important;
  margin-bottom: 15px !important;
  flex: 2;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%;
  width: 191px !important;
  height: 191px !important;
  object-fit: cover !important;
  border-radius: 50%;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.spicy-level {
  margin-bottom: 10px;
}

.spicy-level span {
  font-size: 1.2rem;
  margin-right: 5px;
}

p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size {
  padding: 19px 21px;
  border-radius: 5px;
  border: 1px solid lightgray !important;
  font-size: 16px;
  cursor: pointer;
  flex: 1 1 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold !important;
  background-color: transparent;
}
.selected {
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
  border: none !important;
}

.size span {
  background-color: var(--secondary-color);
  padding: 12px 23px;
  border: none !important;
  color: var(--white-color) !important;
  border-radius: 5px !important;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
  }

  .size-options {
    justify-content: center;
  }

  .size {
    flex: 1 1 100%;
    justify-content: space-between;
  }
}

.cartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.shopping-cart,
.card-details {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.shopping-cart {
  flex: 2;
  margin-right: 20px;
}

.card-details {
  flex: 1;
  background-color: #303030;
  color: white;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item-info {
  display: flex;
  align-items: center;
}

.details {
  margin-left: 15px;
}

.item-options {
  display: flex;
  align-items: center;
}

.item-options p {
  margin: 0 20px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  border: none;
  background-color: #ddd;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.remove {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.back {
  text-decoration: none;
  color: #555;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.card-details h3 {
  margin-bottom: 20px;
}

.card-details label {
  display: block;
  margin-bottom: 10px;
}

.card-types {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-types input[type="radio"] {
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  border: none;
  border-radius: 5px;
}

.expiry-cvv {
  display: flex;
  justify-content: space-between;
}

.expiry-cvv div {
  width: 48%;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  background-color: #ffcd00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .cartContainer {
    flex-direction: column;
  }

  .shopping-cart {
    margin-right: 0;
  }
}

/* checkout */
.basket-container {
  background-color: #fff;
  box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 29px 6px rgba(0, 0, 0, 0.18);
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
}

.basket-header {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.basket-header h2 {
  font-size: 24px !important;
  font-weight: 500 !important;
}

.basket-items {
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item-info {
  display: flex;
}

.item-qty {
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px 20px !important;
  border-radius: 50%;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  font-weight: bold;
  font-size: 14px;
}

.item-details {
  font-size: 12px;
  color: gray;
}

.item-price {
  font-weight: bold;
  color: var(--secondary-color);
}

.basket-summary {
  padding: 10px 0;
  border-bottom: 2px solid #eee;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total-pay {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 21px 31px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--main-color);
  color: var(--white-color);
}

.basket-actions {
  margin: 20px 0;
}

.choose-free-item,
.apply-coupon {
  display: block;
  width: 100%;
  background-color: #ddd;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.delivery,
.collection {
  text-align: center;
}

.checkout-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .nav-logo {
    margin-left: 0px;
  }
}

/* Responsive Styles */
@media (max-width: 400px) {
  .basket-container {
    padding: 10px;
  }

  .checkout-btn {
    padding: 10px;
  }
}

/* .orderDetailsInputDiv  */

.orderDetailsInputDiv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.orderDetailsInputDiv > input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px !important;
}

.payment-options > button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px !important;
  background-color: var(--secondary-color);
  color: white;
}

.payment-options > button:hover {
  opacity: 0.9;
}

#orderBtn {
  background-color: var(--main-color);
  color: white;
  margin-top: 25px !important;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.orderDetailsHeading {
  top: 0;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 20px 40px;
  text-align: center;
}

.use-coupon-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.apply-coupon-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.apply-coupon-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px !important;
}

.apply-coupon-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.use-coupon-back-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.error {
  color: red;
}
