.meal-card {
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px 10px 10px !important;
  max-width: 100%;
  width: 600px !important;
  position: relative;
  box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
}

.meal-text {
  max-width: 60%;
}

.meal-name {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: var(--black-color);
  text-align: center !important;
}

.meal-text h2 {
  font-size: 20px !important;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.meal-text p {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--black-color);
}

.price {
  font-weight: bold;
  color: var(--black-color);
  font-size: 20px !important;
}

.meal-image img {
  max-width: 200px;
  border-radius: 10px;
}

.add-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  border-radius: 200px 0px 44px 0px !important;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: flex-end !important;
  align-items: center !important;
  padding-top: 10px !important;
  padding-right: 10px !important;
  text-align: center;
  cursor: pointer;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 768px) {
  .meal-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .meal-text {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .meal-image img {
    max-width: 100px;
  }
}
