.meal-card {
  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 300px !important;
  position: relative;
  box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 0px 17px -4px rgba(0, 0, 0, 0.7);
}

.meal-text {
  max-width: 100%;
  padding: 15px;
  text-align: left;
}

.meal-name {
  font-size: 20px !important;
  font-weight: 700 !important;
  color: var(--black-color);
}

.meal-text h2 {
  font-size: 20px !important;
  font-weight: 700 !important;
  margin-bottom: 10px;
  color: var(--main-color);
}

.meal-text p {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--black-color);
}

.price {
  font-weight: bold;
  color: var(--black-color);
  font-size: 20px !important;
}

.meal-image img {
  max-width: 100%;
  border-radius: 10px;
}

.add-btn {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--white-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px 0px 60px 0px;
  -webkit-border-radius: 10px 0px 60px 0px;
  -moz-border-radius: 10px 0px 60px 0px;
  width: 80px !important;
  height: 70px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  text-align: center;
  cursor: pointer;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* @media (max-width: 768px) {
  .meal-card {
    align-items: flex-start;
  }

  .meal-text {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .meal-image img {
    max-width: 100px;
  }
} */
