ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #d9d9d9 !important;
  position: relative;
}

.single-cta i {
  color: var(--main-color);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: var(--black-color);
  line-height: 28px;
}

.footer-social-icon span {
  color: var(--black-color);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: var(--black-color);
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: var(--main-color);
}

.footer-widget-heading h3 {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--main-color);
}

.footer-widget ul li {
  display: block !important;
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--main-color);
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #e8e5e5;
  border: none !important;
  border-radius: 35px !important;
  /* color: var(--black-color); */
}

.subscribe-btn {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0% !important;
  /* left: 65%; */
  background: var(--main-color);
  padding: 10px 35px;
  border-radius: 35px !important;
  color: var(--white-color) !important;
  border: 1px solid var(--main-color);
  font-weight: 600;
  font-size: small;
}

.subscribe-form button i {
  color: var(--white-color) !important;
  font-size: 22px;
  font-weight: 600;
  transform: rotate(-6deg);
}

.copyright-area {
  background: var(--black-color);
  color: var(--white-color) !important;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: var(--main-color);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: var(--main-color);
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.subscribe-btn:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

@media (max-width: 426px) {
  .subscribe-btn {
    left: 50% !important;
  }
}
