.singleProductContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.singleProduct-image img {
  max-width: 100%;
  border-radius: 10px;
}

.singleProduct-image {
  flex: 1 1 50%;
  padding-right: 20px;
}

.product-details {
  flex: 1 1 50%;
}

.product-details h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 5px;
}

.price {
  font-size: 1.3rem;
  color: #c00;
  margin-bottom: 20px;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.offer h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.offer ul {
  list-style: none;
  margin-bottom: 20px;
}

.offer ul li {
  margin-bottom: 5px;
  color: green;
}

.stock-info {
  margin-bottom: 20px;
}

.stock-info p {
  font-size: 1rem;
}

.stock-info .hurry {
  color: #c00;
  font-weight: bold;
}

.size-guide {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.size-guide a {
  color: #666;
  text-decoration: none;
  margin-right: 10px;
}

.size-guide a:hover {
  text-decoration: underline;
}

.purchase-options {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.quantity {
  /* margin-right: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--main-color);
  border-radius: 5px;
  padding: 10px;
}

.quantity input {
  width: 60px;
  padding: 5px;
  font-size: 1rem;
  border: none !important;
}
.quantity input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.add-to-cart,
.ViewCart {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
  width: 49% !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.ViewCart {
  background-color: var(--black-color);
  text-decoration: none !important;
  text-align: center;
}

.add-to-cart:hover,
.ViewCart:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .singleProductContainer {
    flex-direction: column;
    text-align: center !important;
  }

  .singleProduct-image {
    padding-right: 0 !important;
  }

  .product-details > h1 {
    margin-top: 15px !important;
  }

  .description {
    font-size: 0.8rem !important;
  }

  .purchase-options {
    flex-direction: column;
    align-items: center !important;
    justify-content: space-between;
    text-align: center !important;
  }

  .add-to-cart {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .add-to-cart,
  .ViewCart {
    width: 100% !important;
  }

  .product-image {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
