* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
span,
div,
input,
textarea,
button,
select,
option {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #fc8a06;
  --secondary-color: #028643;
  --black-color: #03081f;
  --white-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color) !important;
  border-radius: 10px !important;
  border: none !important;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #4c9518;
} */
