.privacyH1 {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.privacySpan {
  color: var(--black-color);
  font-weight: 600;
}

.privacyP {
  color: var(--black-color);
  font-size: 18px;
}

@media (max-width: 768px) {
  .privacyH1 {
    font-size: 30px;
  }

  .privacyP,
  .privacySpan {
    font-size: 16px;
  }

  .privacyH1,
  .privacySpan,
  .privacyP {
    text-align: center;
  }
}
