#carouselExampleFade {
  border: none !important;
}

.carousel-content {
  position: absolute;
  top: 25%;
  left: 4%;
  color: var(--black-color);
  padding: 15px;
  border-radius: 0 !important;
}

.carousel-content p {
  font-size: 16px;
  margin-bottom: 8px !important;
}
.carousel-content h1 {
  font-size: 54px !important;
  font-weight: 600;
}

.carousel-content > .span {
  color: var(--main-color);
}

.carousel-content button {
  padding: 18px 50px;
  border: none !important;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 35px !important;
}

.carousel-content button:hover {
  background-color: #fff;
  color: var(--black-color);
  transition: 0.3s;
  border: 2px solid var(--main-color) !important;
  scale: 1.1;
}

.cart-section {
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--white-color) !important;
  border-radius: 10px !important;
}

@media (max-width: 1024px) {
  .carousel-content {
    top: 20%;
  }

  .carousel-content h1 {
    font-size: 2rem !important;
  }

  .promo-section,
  .location-section {
    display: none !important;
  }
}
@media (max-width: 1450px) {
  .carousel-content {
    left: 0% !important;
  }

  .carousel-content h1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 1024px) {
  .carousel-content h1 {
    font-size: 2rem !important;
  }

  .carousel-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .carousel-content {
    top: 18%;
    right: 10%;
  }

  .carousel-content h1 {
    font-size: 1.5rem !important;
  }

  .carousel-content p {
    font-size: 0.7rem;
  }

  .carousel-content button {
    padding: 8px 15px;
    font-size: 0.5rem;
  }
}

@media (max-width: 576px) {
  .carousel-content {
    top: 18%;
    /* Adjust for smaller screens */
    right: 8%;
    /* Adjust for smaller screens */
  }

  .carousel-content h1 {
    font-size: 0.8rem !important;
  }

  .carousel-content p {
    font-size: 0.3rem;
  }

  .carousel-content button {
    margin-top: 15px !important;
    padding: 6px 10px;
    font-size: 0.5rem;
  }
}

@media (max-width: 376px) {
  .carousel-content {
    top: 18%;
    right: 6% !important;
  }

  .carousel-content h1 {
    font-size: 0.5rem !important;
  }

  .carousel-content p {
    display: none;
  }

  .carousel-content button {
    margin-top: 15px !important;
    padding: 5px 8px !important;
    font-size: 0.4rem !important;
  }
}

/* Notification styles */
.notification {
  max-width: 400px;
  width: 100%;
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  border-left: 5px solid var(--main-color);
}

#notification1 {
  position: absolute;
  top: 150px;
  right: 0%;
  transform: translateX(-50%);
  z-index: 10;
}

#notification2 {
  position: absolute;
  top: 360px;
  right: -8%;
  transform: translateX(-50%);
  z-index: 10;
}

#notification3 {
  position: absolute;
  top: 570px;
  right: -5%;
  transform: translateX(-50%);
  z-index: 10;
}

.notification-header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.notification-header img {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.notification-content {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.notification-content .title {
  font-weight: bold;
  margin-bottom: 4px;
}

.notification-footer {
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media (max-width: 1440px) {
  #notification1 {
    top: 100px;
    right: -10%;
  }
  #notification2 {
    top: 260px;
    right: -13.5%;
  }
  #notification3 {
    top: 410px;
    right: -10%;
  }

  .notification {
    padding: 20px 10px;
  }
}
@media (max-width: 1024px) {
  #notification1 {
    top: 60px;
    right: 0;
    left: 82%;
  }
  #notification2 {
    top: 180px;
    right: -12%;
  }
  #notification3 {
    top: 310px;
    right: -8%;
  }

  .notification-content {
    font-size: small;
  }

  .notification {
    padding: 5px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  #notification1 {
    top: 60px;
    right: 0;
    left: 82%;
  }
  #notification2 {
    top: 145px;
    right: -12.5%;
  }
  #notification3 {
    top: 230px;
    right: -9%;
  }

  .notification-content {
    font-size: 8px;
  }

  .notification {
    padding: 5px;
    width: 200px;
  }
}

@media (max-width: 576px) {
  .notification {
    display: none;
  }
}
